.browsehappy {
  margin: 0.3em 0;
  background: #ccc;
  color: #000;
  padding: 0.3em 0;
}


/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 0px;
  font-size: 62.5%;
}

header {
	// height: 100%;
}

// =======================================================================

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

// =======================================================================

.navbar {
	margin-bottom: 0;
}

.navbar-inverse {
	background-color: $gray-dark;
}

.container-fluid {
	// max-width: 720px;
	// min-height: 500px;
	// position:absolute;
	// top:70px;
	// right:0;
	// bottom:70px;
	// left:0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	}

.row {
	// background-color: orange;
	margin-left: -10px;
	margin-right: -10px;
}

.main {
	font-size: 3.2em;
}

.jumbotron	{
	background-color: $gray-darker;
	// height: 500px;
	// overflow: scroll;

}

// =======================================================================

#myCanvas {
	width: 100%;
	height: 100vh * 0.82;
	background-color: $gray-darker;
	&.activated {
		// width: 100%;
		// max-height: 1300px;
		background-color: $gray-darker;
	}
}



// =======================================================================

.form-control {
	background-color: lighten($brand-primary, 40%);
		color: darken($brand-primary, 20%);;
}

.input-group-addon {
	background-color: lighten($brand-primary, 35%);
	color: darken($brand-primary, 20%);;
}

.btn {
	background-color: lighten($brand-success, 10%);
	&:hover {
		background-color: lighten($brand-success, 20%);	
	}
	&:focus {
		background-color: lighten($brand-success, 10%);
	}
}

.dateRange {
	display: inherit;
	&.activated {
		display: none;
	}
}

.dataPoint {
	display: none;
	&.activated {
		display: inherit;
	}
}

.notification-text {
	display: none;
	&.activated {
		display: inherit;
	}
}

// =======================================================================
// =======================================================================