.browsehappy {
  margin: 0.3em 0;
  background: #ccc;
  color: #000;
  padding: 0.3em 0;
}


/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 0px;
  font-size: 62.5%;
}

header {
	// height: 100%;
}

// =======================================================================

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

// =======================================================================
.container {
	// max-width: 720px;
	// min-height: 500px;
	// position:absolute;
	// top:70px;
	// right:0;
	// bottom:70px;
	// left:0; 
	}

.main {
	font-size: 3.2em;
	.row {
		background-color: orange;
	}
}

.jumbotron	{
	// height: 500px;
}

// =======================================================================

#myCanvas {
	width: 100%;
	max-height: 600px;
	background-color: $gray-darker;
}

// =======================================================================

.dateRange {
	display: inherit;
	&.activated {
		display: none;
	}
}

.dataPoint {
	display: none;
	&.activated {
		display: inherit;
	}
}

.notification-text {
	display: none;
	&.activated {
		display: inherit;
	}
}

// =======================================================================
// =======================================================================