/* Space out content a bit */
body {
	// padding-top: 20px;
	// padding-bottom: 20px;
	font-size: 62.5%;
}

header {
	// height: 100%;
}

.container {
		// width: 100%;
	}

.nav {
	display: inline;
	li {
		display: inline;
		a {
			display: inline;
		}
	}
}

// =======================================================================
.main {
	font-size: 2.0em;
	.row {
		background-color: orange
	}
	// .go {
	// 	display: block;
	// }
}

// =======================================================================


#myCanvas {
	width: 100%;
	background-color: rgb(54, 54, 54);
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		// max-width: 730px;
	}
}